.layer {
  padding: 1rem;
  &:hover {
    background-color: #777;
  }
  border: 1px solid #ccc;
  margin-bottom: 8px;
  cursor: pointer;

  &.selected {
    border-color: #4cc9f0;
    background-color: rgba(76, 201, 240, 0.1);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    p {
      margin: 0;
      flex-grow: 1;
      cursor: pointer;
    }
  }
}

.header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease-out;

  &.expanded {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }
}

.inputContainer {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  label {
    margin-right: 0.5rem;
  }
}

.iconContainer {
  display: flex;
  gap: 0.3rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}
